{:deps {com.fulcrologic/fulcro {:mvn/version "3.6.6"}
        com.github.awkay/workspaces {:mvn/version "1.0.3"}
        thheller/shadow-cljs              {:mvn/version "2.24.0"}
        binaryage/devtools                {:mvn/version "1.0.6"}
        com.wsscode/pathom3                    {:mvn/version "2023.01.31-alpha"}}
 :paths ["cookbook/dynamic-recursion"]}